@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie wysłania maila z prośbą o zmianę hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Na Twojej skrzynce mailowej znajdziesz link do resetowania hasła.
</p>
