@{
    ViewData["Title"] = "Panel Klienta";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Jesteś zalogowany jako: Klient</h1>
                    <p class="lead mt-3">Witaj, @User.Identity?.Name!</p>
                    <a asp-controller="Client"
                        asp-action="Profile"
                        class="btn btn-primary mt-4">
                        Moje dane
                    </a>
                    <a asp-controller="CustomerOrders"
                    asp-action="New"
                        class="btn btn-primary">
                        Dodaj nowe zgłoszenie naprawy
                    </a>
                    <a asp-controller="CustomerOrders"
                       asp-action="MyOrders"
                        class="btn btn-secondary">
                        Moje zgłoszenia
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
