@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>
    Wszystkie dane przetwarzane w aplikacji mają charakter demonstracyjny i służą wyłącznie celom edukacyjnym.
    Projekt nie jest wykorzystywany komercyjnie, a użytkownicy nie podlegają realnym procesom przetwarzania danych osobowych.
</p>
